In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sb
import numpy as np
from sklearn.metrics import accuracy_score

In [8]:
#loading the dataset
df=pd.read_csv('/home/adhoc/Desktop/heart.csv')

In [9]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [15]:
#extracting the features from the data set
x=df.iloc[:,0:-1].values
x.shape

(1025, 13)

In [17]:
#extracting the label 
y=df.iloc[:,-1].values
y.shape

(1025,)

In [18]:
#splitting te data in 80/20 ratio for training and testing
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
#appling Support vector classifier on the splitted data
from sklearn.svm import SVC
clf=SVC()

In [20]:
#fitting the model
train=clf.fit(train_x,train_y)

/usr/local/lib64/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [21]:
#predicting the output for remaining test data
predicted=train.predict(test_x)

In [23]:
#checking the accuracy
accuracy_score(test_y,predicted)

0.9804878048780488